.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  max-width: 320px;
  margin: 0 auto;
}

.searchIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #444;
}

.searchIconContainer .searchIcon {
  position: static;
}

.searchIcon {
  position: absolute;
  left: 0.5rem;
  color: #a8a8a8;
  pointer-events: none;
}

.searchInput {
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 25px;
  background-color: #444;
  color: #fff;
  font-size: 1rem;
  outline: none;
}

.searchInput:focus {
  border-color: #3b3b3b;
  box-shadow: 0 0 0 2px rgba(59, 59, 59, 0.8);
}

.searchInput::placeholder {
  color: #a8a8a8;
}
