.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  width: 375px;
  background-color: #292929;
  z-index: 1000;
}

.divider {
  display: block;
  height: 1px;
  width: 100%;
  margin: 1em auto;
  background-color: #444;
  border: none;
}

.logo {
  max-width: 80px;
  height: 56px;
}

.navFooter {
  margin-top: auto;
}

.navHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}

.navTitle {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
