.navItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #dfdfdf;
  margin: 1em 2em;
}

.navItem a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5em;
  text-decoration: none;
}

.navItem a:hover {
  background-color: #444;
}

.navItemLabel {
  margin-left: 1em;
}
